.pdfViewer .page {
  direction: ltr;
}

.page{
    position: relative;
    height: 100%;
}
*{
    padding: 0px;
    margin: 0px
}

.textLayer {
  text-align: initial;
  line-height: 1;
  forced-color-adjust: none;
  caret-color: CanvasText;
}

.textLayer > span{
    position:absolute;
    color:transparent;
    white-space: pre;
    transform-origin: 0% 0%;
}
