@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');

:root {
    --font: "Inter";
    --bg: #57614e;
    --primary: #6a755f;
    --secondary: #8a977c;
    --highlight: #c59ca8;
    --text-color: #ffffff;
    --text-color-h: #ffffff; 
    --b-radius: 0.5rem;
}

*{
    font-family: var(--font) sans-serif;
    transition: 0.1s ease-out;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}

hr{
    border: 1px solid var(--highlight);
    color: var(--highlight);
}

.read-button {
    color: var(--highlight);
    background-color: var(--primary);
    border: none;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: block; /* Change display to block */
    font-size: 16px;
    margin: 0 auto; /* Center the button horizontally */
    cursor: pointer;
    border-radius: var(--b-radius);
    margin-bottom: 20px;
}

textarea{
    color: var(--text-color);
    background-color: var(--secondary);
    width:100%;
    scrollbar-color: var(--bg);
    border-radius:  var(--b-radius);
    border: 0;
    padding:1em;
}
#select-a-word{
    height:10em;
}

.parent_block{
    margin-bottom: 40px;
    background-color: var(--primary); 
    border-radius:  var(--b-radius);
    padding: 20px 50px 50px 15px; /* top, right, bottom, left */
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.tool-button {
    background-color: var(--highlight); /* Green background color */
    border: none;
    color: var(--text-color-h); /* Text color */
    padding: 10px 20px; /* Padding for the buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius:  var(--b-radius); /* Rounded borders */
}

.tool-button:hover{
    cursor: pointer;
    transform:translate(0,-2px) scale(1.04);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02);
}


.highlight-link {
    overflow:hidden;
    border-radius: var(--b-radius);
    background-color:var(--secondary);
    margin:1em;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.02);
    display: grid;
    grid-template-columns: 1em 80% auto 1em;
    grid-template-rows:1em 20% auto 1em;
}

.highlight-link:hover{
    cursor: pointer;
    transform:translate(0,-2px) scale(1.04);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02);
}

.highlight-link>a{
    grid-row-start:2;
    grid-column-start:2;
}

.highlight-link>div{
    grid-row-start:3;
    grid-row-end: 3;
    grid-column-start: 2;
}

.delete-button{
    background: var(--highlight);
    border:none;
    border-radius: 0.2em;
    color: var(--text-color);
    grid-column-start: 3;
    grid-row-start:2;
    grid-row-end:4;
}
.delete-button:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02);
    cursor:pointer;
    transform:translate(0,-2px) scale(1.04);
}






.highlight_color{
    border:none;
    padding:0;
    margin:auto;
    border-block:none;
    border-radius:1em;
}


.highlight_color::-webkit-color-swatch-wrapper{
    padding:0;
}

.highlight_color::-webkit-color-swatch{
    border-radius:0.5em;
    height:5em;
}