@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {

    --font: "Lato";
    --bg:#87c0e3;
    --b: linear-gradient(#d3bbf2, #87c0e3, #bbe8e1);
    --primary: white;
    --secondary:#3c4fe0;
    --highlight: #c59ca8;
    --text-color: grey;
    --text-color-h: linear-gradient(#d3bbf2, #87c0e3, #bbe8e1);;
    --b-radius: 0.7rem;
}

/* CSS */



/* .tool-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
} */

.tool-button {
    font: "Lato" ;
    font-weight: bold;
    background-color: var(--highlight); /* Green background color */
    border: none;
    color: var(--text-color-h); /* Text color */
    padding: 10px 20px; /* Padding for the buttons */
    text-align: center;
    text-decoration: none;
}


/* CSS */
.tool-button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: grey;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.tool-button:hover {
  background: #F6F9FE;
  color: black;
}


.tool {
 align-items: center;
 background-image: linear-gradient(144deg,#d3bbf2, #87c0e3 50%,#bbe8e1);
 border: 0;
 border-radius: 8px;
 box-shadow: rgba(151, 65, 252, 0.2) 5px 10px 15px -5px;
 box-sizing: border-box;
 color: grey;
 display: flex;
 font-size: 18px;
 justify-content: center;
 line-height: 1em;
 width: 100%;
 padding: 3px;
 margin: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
 transition: all .3s;
}

.tool:active,
.tool:hover {
 outline: 0;
 color:white;
}

.tool span {
 background-color: white;
 padding: 16px 24px;
 border-radius: 6px;
 width: 100%;
 height: 100%;
 transition: 300ms;
}

.tool:hover span {
 background: none;
  color:white;
}

.tool:active {
 transform: scale(0.9);
}




*{
    font-family: var(--font) ;
    transition: 0.1s ease-out;
}

#bg {

}

body {
  overflow-x: hidden;
    background-color: var(--bg);
    background-image: var(--b);
    background-attachment: fixed;
    color: var(--text-color);
}

hr{
    border: 1px solid var(--highlight);
    color: var(--highlight);
}

.read-button {
    color: var(--highlight);
    background-color: var(--primary);
    border: none;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: block; /* Change display to block */
    font-size: 16px;
    margin: 0 auto; /* Center the button horizontally */
    cursor: pointer;
    border-radius: var(--b-radius);
    margin-bottom: 20px;
}


.parent_block{
    margin-bottom: 20px;
    color: var(--b);
    background-color: var(--primary);
    border-radius:  var(--b-radius);
    margin-left: 2.5%; margin-right: 2.5%;
    padding: 15px 7% 25px 7%; /* top, right, bottom, left */
}

textarea{
  color: grey;
    background-color: white;
    width:100%;
    scrollbar-color: var(--bg);
    border-radius:  var(--b-radius);
    border: 2px solid grey;
    padding:1em;
}

#NotesFx {
  margin-top: 30px;
}

.summary{
  overflow-y: scroll;
  color: grey;
    background-color: white;
    width:90%;
    scrollbar-color: var(--bg);
    border-radius:  var(--b-radius);
    border: 2px solid grey;
    padding:1em;
}

#select-a-word{
  margin-top: 0;
    height:15em;
}



#ToolsFx {
  padding-top: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

#buttons-container {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}



#highlight-links{

}

.highlight-link {
    padding:1em;
    height:3em;
    overflow:hidden;
    border-radius: var(--b-radius);
    background-color:var(--secondary);
    margin:1em;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.02);
}

.highlight-link:hover{
    cursor: pointer;
    transform:translate(0,-2px) scale(1.04);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02);
}


.delete-button{
    background: var(--highlight);
    border:none;
    border-radius: 0.2em;
    width:1em;
    color: var(--text-color);
}



.lds-roller {
  /* change color here */
  color: #1c4c5b
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
