:root{
  --highlight-color: rgba(255,0,255,0.5);
  --hightlight-text: black;
  --color0: rgba(0,255,0,0.5);
  --color1: rgba(0,255,0,0.5);
  --color2: rgba(0,255,0,0.5);
  --color3: rgba(0,255,0,0.5);
}
.readfxpopup{
  font-size: 12px;
  position:fixed;
  background: #eeeeee;
  color: #333333;
  box-shadow: 0.1em 0.1em 0.2em 0em rgba(0,0,0,0.2);
  padding: 0.25em;
  z-index: 1000000;
  border-radius:0.5em;
  display:flex;

}

.readfxpopup>label{
  padding:1em;
  margin:0.2em;
  border-radius:0.25em;
}

.readfxpopup>input[type=radio] {
  display: none;
  appearance: none;
}
.readfxpopup>input[type=radio]:checked + label {
  background:#dddddd;
}
.readfxpopup>input[type=radio]:active + label {
    background:#ffffff;
}

.readfxpopup>label:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor:pointer;
}

highlight-tag {
  color: var(--highlight-text);
  mix-blend-mode: multiply;
}
highlight-tag > *{
  color: var(--highlight-text);
  mix-blend-mode: multiply;
}

.highlight_button>img{
  height:2em;
}
.highlight_info{
  font-size: 16px;
  opacity: 0;
  top:-5em;
  right:1em;
  text-align: right;
  position: absolute;
}

.highlight_button:hover > .highlight_info{
  opacity: 1.0;
}

.highlight_button {
  font-size: 16px;
  padding:0.5em;
  background-color: rgb(75, 90, 72);
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  border-radius: 1em;
}

.color0{
  background: var(--color0);
}
.color1{
  background: var(--color1);
}
.color2{
  background: var(--color2);
}
.color3{
  background: var(--color3);
}

.wikibutton{
  cursor: pointer;
}

.wikipopup{
  position:absolute;
  width: 20em;
  min-height: 10em;
  background-color: #eeeeee;
  border-radius: 1em;
}