:root{
  --highlight-color:#ffff00;
  --hightlight-text: black;

}
.readfxpopup{
    position:fixed;
    background: #eeeeee;
    color: #333333;
    box-shadow: 0.1em 0.1em 0.2em 0em rgba(0,0,0,0.2);
    padding: 1em;
    z-index: 1000000;
    border-radius:0.5em;
    display:flex;
}

label{
  padding:1em;
}

input[type=radio] {
  display: none;
  appearance: none;
}
input[type=radio]:checked + label {
  background:#dddddd;
}
input[type=radio]:active + label {
    background:#ffffff;
}

label:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

highlight-tag {
  color: var(--highlight-text);
  background-color: var(--highlight-color);
}
highlight-tag > *{
  color: var(--highlight-text);
  background-color: var(--highlight-color);
}
