*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
}

body{
    padding:5em;
    font-size:25px;
    margin:auto;
    max-width:30em;
    line-height:2em;
}

h1{
    font-size:4rem;
    line-height:1em;
}
h2{
    font-size:3rem;
    line-height:1em;
}

img{
    max-width:30em;
}

